@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 100% 98%;
    --foreground: 0 8% 5%;

    --card: 0 8% 97%;
    --card-foreground: 0 8% 5%;

    --popover: 0 8% 97%;
    --popover-foreground: 0 8% 5%;

    --primary: 5 85% 59%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 6% 93%;
    --secondary-foreground: 0 8% 5%;

    --muted: 0 6% 93%;
    --muted-foreground: 4 6% 45%;

    --accent: 0 6% 93%;
    --accent-foreground: 0 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 6% 90%;
    --input: 10 7% 82%;
    --ring: 6 24% 74%;

    --radius: 1.5rem;
  }
  
  .dark {
    --background: 60 3% 6%;
    --foreground: 0 0% 98%;

    --card: 60 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 60 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 45 97% 49%;
    --primary-foreground: 0 0% 2%;

    --secondary: 45 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 40 5% 22%;
    --muted-foreground: 45 5% 49%;

    --accent: 45 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 5% 12%;
    --input: 45 4% 18%;
    --ring: 45 97% 40%;
  }
}

@layer base {
  * {
    @apply border-border;

    /* Custom Scroll Bar */
    &::-webkit-scrollbar {
      @apply w-2 h-2;
    }
    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-border rounded-full;
    }
  }
  
  body {
    @apply bg-background text-foreground;
  }

  /* Disable number input arrows */
  /* Chrome, Safari, Edge, Opera */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Mozila */
  input[type='number'] {
    -moz-appearance: textfield !important;
  }

  /* Disable autofill decoration */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition:
    background-color 500000s ease-in-out 0s,
    color 500000s ease-in-out 0s;
  }
}